<!DOCTYPE html>
<html lang="en">

<head>
  <title>연세인맵 | 만든 사람들</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  
  <meta property="og:description" content="연세대학교 제 55대 총학생회 MATE가 만든 &#10;&#13; 손 안의 캠퍼스지도, 연세인맵"/>
  <meta property="og:image" content="http://18.222.140.246/images/Banner.png"/>
  <meta property="article:author" content="연세대학교 제 55대 총학생회 MATE"/>
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="./css/text.css">
</head>

<body>
  <noscript>You need to enable JavaScript to run this app.</noscript>

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
   <!-- <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script> -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>

  <div id="root">
    <div class="container-fluid p-5">
      <div class="header">
        <h1>만든 사람들</h1>
        <p><strong style="font-size: 1.5rem;">연세인맵</strong>은 연세대학교 제 55대 총학생회 MATE <strong>사무운영국</strong>이 기획 및 개발한 디지털 캠퍼스 지도 프로젝트입니다.</p>
        <p>자료 수집에 연세대학교 제 55대 총학생회 MATE <strong>신촌캠퍼스 베리어프리맵 TFT팀</strong>이 도움을 주었습니다.</strong>
      </div>
      <hr>
      <div class="body">
          <div class="para">
            <h2>기획</h2>
            <h3>MATE 사무운영국 S2S2</h3>
            <p>오신영 이성민 김지승 김윤태 유한주 김혜주 김형연 김유정 김연지</p>
          </div>

          <div class="para">
            <h2>개발</h2>
            <p>이성민 유한주 김연지</p>
          </div>

          <div class="para">
            <h2>디자인</h2>
            <p>김지승 오신영 김유정</p>
          </div>

          <div class="para">
            <h2>자료 수집</h2>
            <h3>MATE 사무운영국 S2S2</h3>
            <p>김윤태 김혜주 김형연 김유정 오신영 김지승 김연지 유한주 이성민</p>
            <br>
            <h3>신촌캠퍼스 베리어프리맵 TFT팀</h3>
            <p>최희정 정운채 고현창 김민지 박상하 김미래 김소은 마정은 민지예 배준연 손승주 옥유진 이재원 이지수 이채현 전세연 정나영 정영은 진우민 최가영 최필규 추민지 허유라 현주희 황병준</p>
          </div>
      </div>
      <hr>
      <div class="footer">
        <p>연세대학교의 새로운 디지털 지도 <strong>연세인맵</strong> 제작과 개발에 도움을 주신 모든 분들께 진심으로 감사드립니다. 학우 여러분들께서 학교 시설을 편리하고 유용하게 이용하시는 과정에 도움이 되길 바랍니다.</p>
        <p>제작팀 일동. 2020.11.23</p>
      </div>
        
    </div>
  </div>

</body>

</html>