<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css"
    rel="stylesheet">
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


</head>

<body><noscript>You need to enable JavaScript to run this app.</noscript>
  <div id="root">
    <div>
      <div class="mapBody" style="border: black solid 1px; margin: 30px 150px;  padding: 30px;">
        <!-- 검색 -->
        <div class="input-group ui-widget" style="border: black solid 1px; margin-bottom: 20px;">
          <input type="text" class="form-control" id="mapSearch" placeholder="화장실, 학생회관, 중앙도서관, 백주년기념관"style="height: 40px;">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" onclick="searchKey()">검색</button>
          </div>
        </div>
        <!-- 체크박스 -->
        <div class="" style="border: black solid 1px; margin-bottom: 20px; padding: 15px;">
          <input id="switch1" type="checkbox" data-toggle="toggle" data-height="30"
            data-offstyle="outline-secondary" oninput="handleTimeFilter">
          <label for="switch1" class="form-check-label" style="height: 30px; line-height: 30px;">현재 운영중인 시설만 보기</p>
          </label>
        </div>
        <!-- 맵 -->
        <div id="mapContainer" style="border: black solid 1px;  height: 60vh; background-color: gray;">
          <canvas id="mapCanvas" style="background-color: gray;">

          </canvas>
          <!-- <img src="/images/sinchon_mainmap.png" id="map" style="z-index: 2; left: -341px; top: -1514px;" usemap="#clickable"></img>
          <map name="clickable" id="clickable">
            <area shape="poly" coords="850,1656,850,1712,852,1712,852,1751,891,1751,891,1656" alt="학생회관">
          </map> -->
          <!-- <svg src="/images/sinchon_mainmap.svg" style="z-index: 399; fill:black; float:left">
            <svg src="/images/sinchon_mainmap.png" id="map" style="z-index: 2; left: -341px; top: -1514px;" usemap="#clickable"></svg> -->
          <!-- <polygon points="0,0 0,56 2,56 2,95 41,95 41,0" style="fill:lime;stroke:purple;stroke-width:1; z-index:400; position:absolute"/>
          </svg> -->

          <div id="UI"
            style="background-color: white;border: blue solid 1px; height: 30vh; z-index: 200; position: absolute; display: none;">
            <!-- <button type="button" id="UICloseBtn" class="btn btn-secondary btn-sm"
              style="position: absolute; z-index: 201; width: 30px; height: 30px;">x</button> -->
            <div class="container fluid">
              <div class="row">
                <div class="col">
                  <h2 id="UITitle"> Title </h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="empty"></div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
  <script src="https://unpkg.com/hangul-js" type="text/javascript"></script>
  <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
  <script src="/javascripts/search.js"></script>
  <script src="/javascripts/map.js"></script>
  <script src="/javascripts/filter.js"></script>
  <script>
    //검색

    var data = ["화장실", "학생회관", "백주년기념관", "중앙도서관"];
    var type = ["facility", "building", "building",  "building"]


    var ui = $("#UI");
    var mapContainer = $("#mapContainer");
    var UiCloseBtn = $("#UICloseBtn");
    var resizeUI = () => {

      //body
      var bottomMap = mapContainer[0].getBoundingClientRect().top + mapContainer[0].getBoundingClientRect().height -
        ui[0].getBoundingClientRect().height + window.scrollY;;
      var leftMap = mapContainer[0].getBoundingClientRect().left;
      ui.css("top", bottomMap);
      ui.css("width", mapContainer[0].getBoundingClientRect().width);
      ui.css("left", leftMap);

      //closeBtn
      // UiCloseBtn.css("left", mapContainer[0].getBoundingClientRect().width - 50);
      // UiCloseBtn.css("top", 20)
    }



    let openUI = (building) => {
      ui.css("display", "inline");
      $("#UITitle").text(building.name);
      resizeUI();
    }

    var closeUI = () => {
      ui.css("display", "none");
    }

    // document.getElementById("UICloseBtn").addEventListener('click',(e) => {
    //   unclickBuilding(prevClickingBuilding);
    // });

    // -----------------------------



    // let buildingArea = [{
    //   x: 1158,
    //   y: 2047
    // }, {
    //   x: 1158 + 46,
    //   y: 2047
    // }, {
    //   x: 1158 + 46,
    //   y: 2047 + 39
    // }, {
    //   x: 1158,
    //   y: 2047 + 39
    // }];
    // let buildingId = 1;
    // let buildingName = "백주년기념관"
    let buildingList = [{
      area: [{x: 1158, y: 2047}, {
      x: 1158 + 46,
      y: 2047
    }, {
      x: 1158 + 46,
      y: 2047 + 39
    }, {
      x: 1158,
      y: 2047 + 39
    }],
      id: 1,
      name: "백주년기념관",
      on: false
    },{
      area: [{x: 1149 , y: 1815}, 
      {
      x: 1193 ,
      y: 1815
    }, {
      x: 1193,
      y: 1953
    }, {
      x: 1149,
      y: 1953
    }],
      id: 2,
      name: "학생회관",
      on: true
    },{
      area: [{x: 982  , y: 1843 }, 
      {
      x: 1033  ,
      y: 1843 
    }, {
      x: 1033 ,
      y: 1934
    }, {
      x: 982,
      y: 1934
    }],
      id: 3,
      name: "중앙도서관",
      on: false
    }]


    var inputState = {
      tool: null,
      action: null
    };

    //handle mouse
    let handleMouseDown = (e) => {
      dragFlag = true;
      // document.ondragstart= () => {return false}
      // e.preventDefault();
      // e.stopPropagation();
      cPosCache = updateCache(cPosCache, getPointerPosinCanvas(e));
      inputState = {
        tool: 'mouse',
        action: 'mouseDown'
      }
      clickCnt += 1;
        doubleClickTime = new Date();
    }
    let dragFlag = false
    let handleMouseMove = (e) => {
      
      if(dragFlag){
        e.preventDefault();
      e.stopPropagation();
      }
      

      if (inputState.action == 'mouseDown') {
        inputState.action = 'mouseDrag'
      } else if (inputState.action != 'mouseDrag') {
        inputState.action = 'mouseMove'
      }

      if (inputState.action == 'mouseDrag'  && (new Date().getTime() - doubleClickTime.getTime() > 80)) {
        if(dragFlag)
        drag(e)
      } else {
        checkHovering(e)
      }
    }

    let handleMouseUp = (e) => {
      clickCnt = 0;
      // document.ondragstart= () => {return true}
      if (inputState.action == 'mouseDown') {
        inputState.action = 'mouseClick'
        click(e);
      } else if (inputState.action == 'mouseDrag') {
        dragEnd(e);
        inputState.action = 'mouseUp'
      }
    }

    //handle mouseScroll
    let handleScroll = (e) => {
      e.preventDefault();
      e.stopPropagation();
      // inputState.action = "Scroll"
      zoomScroll(e)
    }

    //handle touch

    let doubleClickTime, clickCnt = 0;

    let handleTouchStart = (e) => {
      // e.preventDefault();
      // e.stopPropagation();
      // mapContainer.focus()

      // console.log("adf")
      document.getElementById("mapSearch").blur()
      e = e.changedTouches[0]
      // console.log("start", inputState.action)
      cPosCache = updateCache(cPosCache, getPointerPosinCanvas(e));
      // if (inputState.action == "touchClick" && (new Date().getTime() - doubleClickTime.getTime()) < 300) {
      //   inputState.action = "touchDoubleClick"
        
      // } else {
        
        inputState = {
          tool: 'touch',
          action: 'touchStart'
        }

        clickCnt += 1;
        doubleClickTime = new Date();
      // }
    }

    let handleTouchMove = (e) => {
      e.preventDefault();
      e.stopPropagation();

      e = e.changedTouches;
      //pinch
      
      if (e.length == 2) {
        
        pinchZoom(e)
        inputState.action = 'touchPinchZoom'
      } else if (inputState.action == 'touchStart' && (new Date().getTime() - doubleClickTime.getTime() > 80)) {
        inputState.action = 'touchDrag'
      }

      if (inputState.action == 'touchDrag') {
        drag(e[0])
      }
    }

    let handleTouchEnd = (e) => {
      e.preventDefault();
      e.stopPropagation();
      e = e.changedTouches[0]
      if (inputState.action == 'touchStart') {
        inputState.action = 'touchClick'
        // sleep
        // if(new Date().getTime() - doubleClickTime.getTime() > 80)
        if(clickCnt == 1){
          setTimeout(()=>{
          if(clickCnt >= 2){
            doubleClickZoom(e);
          } else {
            click(e, true);
          }
          clickCnt = 0;
        }, 80)
        }
        
      } else if (inputState.action == 'touchDrag') {
        dragEnd(e);
        clickCnt = 0;
        inputState.action = 'touchEnd'
      // } else if (inputState.action == "touchDoubleClick") {
      //   doubleClickZoom(e);
      } else if(inputState.action == "touchPinchZoom"){
        updateCache(cDistCache, null)
        updateCache(cDistCache, null)
      }
    }

    //add MouseListener
    mapCanvas.addEventListener('mousedown', handleMouseDown);
    document.addEventListener("mousemove", handleMouseMove, {
      passive: false
    });
    mapCanvas.addEventListener("mouseup", handleMouseUp)

    // document.addEventListener("mousemove", (e =>{
    //   // console.log(dragFlag)
    //   if(dragFlag){
    //     e.preventDefault()
    //     e.stopPropagation()
    //   }
    // }),{passive:false})

    document.addEventListener("mouseup",(e=>{
      dragFlag = false;
    }))

    mapCanvas.addEventListener(
      "onwheel" in document ?
      "wheel" :
      "onmousewheel" in document ?
      "mousewheel" :
      "DOMMouseScroll",
      handleScroll, {
        passive: false
      }
    );

    //add TouchListener
    mapCanvas.addEventListener("touchstart", handleTouchStart,);
    mapCanvas.addEventListener("touchmove", handleTouchMove, {
      passive: false
    });
    mapCanvas.addEventListener("touchend", handleTouchEnd, {
      passive: false
    });

    // document.addEventListener("mousemove", (e) =>{
      
    // })



    window.onload = function () {
      initCanvas();
    };

    window.addEventListener("resize", resizeUI);
    window.addEventListener("resize", resizeCanvas);
  </script>

  <style>
    .toggle.btn {
      min-height: 30px !important;
    }

    .toggle.btn {
      right: calc(45px + 150px);
      position: absolute;
    }

    #mapContainer {
      overflow: hidden;

    }

    area {
      cursor: pointer;
    }

    h2 {
      text-align: center;
    }
  </style>
</body>

</html>