<!DOCTYPE html>
<html lang="en">

<head>
  <title>연세인맵 | 고지 사항</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta property="og:description" content="연세대학교 제 55대 총학생회 MATE가 만든 &#10;&#13; 손 안의 캠퍼스지도, 연세인맵" />
  <meta property="og:image" content="http://18.222.140.246/images/Banner.png" />
  <meta property="article:author" content="연세대학교 제 55대 총학생회 MATE" />

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="./css/text.css">
</head>

<body>
  <noscript>You need to enable JavaScript to run this app.</noscript>

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <!-- <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script> -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>

  <div id="root">
    <div class="container-fluid p-5">
      <div class="header">
        <h1>고지 사항</h1>
        <p><strong style="font-size: 1.5rem;">연세인맵</strong> 제작팀은 연세대학교의 모든 구성원이 다양한 시설을 편리하고 안전하게 이용할 수 있도록 항상 주의를
          기울이겠습니다.</p>
        <p>더 나은 저작권 문화와 안전하고 편리한 학내 시설 이용을 위해 다음과 같은 고지 사항을 지켜주시기 바랍니다.</p>
      </div>
      <hr>
      <div class="body">
        <div class="para">
          <h2>저작권 고지</h2>
          <div st="middlePara">
            <h3><strong>연세인맵</strong>은 연세인맵 제작팀 및 제 55대 총학생회 MATE의 정보자산입니다.</h3>
            <p>연세인맵 제작팀 및 제 55대 총학생회 MATE(이하 제작팀)는 제작팀이 1차 저작한 상표권, 정보저작권, 기술등의 저작물과 본 서비스 자체에 대한 소유권을 지니고 있습니다.</p>
            <P>이러한 저작물들은 오직 연세대학교의 이용자들과 연세인의 편의 및 이익을 위해서 제공되며 이용자들에게 지적인 재산권을 부여한 것은 아닙니다.</p>
            <p>또한 본 서비스에는 유출시 연세인인의 편리하고 안전한 학내 시설 이용을 위협할만한 민감한 정보도 포함 할 수 있습니다.</p>
            <p>이에 따라 다음과 같은 사항을 지켜주시길 바랍니다.</p>

            <div class="ulWrapperDiv">
              <ul>하나. 1차 저작물 및 고지 의무를 이양받은 2차 저작물에 대하여 하단의 문의 창구와 논의되지 않은 <strong>어떠한 경우(영리, 비영리, 공익적 목적)의 재가공, 유포,
                  활용을 금합니다.</strong></ul>
              <ul>둘. 2차 저작물에 대하여 원저작자의 고지사항을 충실히 숙지하시길 바랍니다. 제작팀은 <strong>2차 저작물의 오남용에 대한 어떠한 피해에 대해서도 책임을 지지
                  않습니다.</strong></ul>
            </div>

            <p>문의 : 각 년도 연세대학교 총학생회, 제작팀 이성민 starmin114@yonsei.ac.kr</p>
          </div>
          <div class="middlePara">
            <h3>2차 저작물에 대한 출처 및 고지사항</h3>
            <p> 본 문단에 나와있지 않은 모든 저작물들은 1차 저작물과 같이 간주합니다.</p>

            <div lass="ulWrapperDiv">
              <ul><a href="./images/text/사진출처.xlsx">사진 출처</a></ul>
              <ul><a href="http://bit.ly/%EB%B0%B0%EB%A6%AC%EC%96%B4%ED%94%84%EB%A6%AC%EB%A7%B5">베리어 프리맵 출처 및 고지사항</a>
              </ul>
              <ul><a>기술 라이센스 고지</a></ul>
            </div>
            <p>문의 : 제작팀 이성민 starmin114@yonsei.ac.kr</p>
          </div>
        </div>

        <div class="para">
          <h2>이용에 관한 고지</h2>
          <!-- <div st="middlePara">
            <h3><strong>연세인맵</strong>은 연세인맵 제작팀 및 제 55대 총학생회 MATE의 정보자산입니다.</h3>
            <p>연세인맵 제작팀 및 제 55대 총학생회 MATE(이하 제작팀)는 제작팀이 1차 저작한 상표권, 정보저작권, 기술등의 저작물과 본 서비스 자체에 대한 소유권을 지니고 있습니다.</p>
            <P>이러한 저작물들은 오직 연세대학교의 이용자들과 연세인의 편의 및 이익을 위해서 제공되며 이용자들에게 지적인 재산권을 부여한 것은 아닙니다.</p>
            <p>또한 본 서비스에는 유출시 연세인인의 편리하고 안전한 학내 시설 이용을 위협할만한 민감한 정보도 포함 할 수 있습니다.</p>
            <p>이에 따라 다음과 같은 사항을 지켜주시길 바랍니다.</p>

            <div class="ulWrapperDiv">
              <ul>하나. 1차 저작물 및 고지 의무를 이양받은 2차 저작물에 대하여 하단의 문의 창구와 논의되지 않은 <strong>어떠한 경우(영리, 비영리, 공익적 목적)의 재가공, 유포,
                활용을 금합니다.</strong></ul>
              <ul>둘. 2차 저작물에 대하여 원저작자의 고지사항을 충실히 숙지하시길 바랍니다. 제작팀은 <strong>2차 저작물의 오남용에 대한 어떠한 피해에 대해서도 책임을 지지
                  않습니다.</strong></ul>
                </div>

            <p>문의 : 각 년도 연세대학교 총학생회, 제작팀 이성민 starmin114@yonsei.ac.kr</p>
          </div>

          <div class="middlePara">
            <h3>2차 저작물에 대한 출처 및 고지사항</h3>
            <p> 본 문단에 나와있지 않은 모든 저작물들은 1차 저작물과 같이 간주합니다.</p>

            <div lass="ulWrapperDiv">
              <ul><a href="./images/text/사진출처.xlsx">사진 출처</a></ul>
              <ul><a href="http://bit.ly/%EB%B0%B0%EB%A6%AC%EC%96%B4%ED%94%84%EB%A6%AC%EB%A7%B5">베리어 프리맵 출처 및 고지사항</a>
              </ul>
              <ul><a>기술 라이센스 고지</a></ul>
            </div>
            <p>문의 : 제작팀 이성민 starmin114@yonsei.ac.kr</p>
          </div>
          <hr>
          <div class="footer">
            <p>연세대학교의 새로운 디지털 지도 <strong>연세인맵</strong> 제작과 개발에 도움을 주신 모든 분들께 진심으로 감사드립니다. 학우 여러분들께서 학교 시설을 편리하고 유용하게
              이용하시는 과정에 도움이 되길 바랍니다.</p>
              <p>제작팀 일동. 2020.11.23</p>
            </div>
          </div> -->
        </div>
      </div>
      <hr>
      <div class="footer">
        <p>연세대학교의 새로운 디지털 지도 <strong>연세인맵</strong> 제작과 개발에 도움을 주신 모든 분들께 진심으로 감사드립니다. 학우 여러분들께서 학교 시설을 편리하고 유용하게
          이용하시는 과정에 도움이 되길 바랍니다.</p>
        <p>제작팀 일동. 2020.11.23</p>
        </div>
    </div>
  </div>
</body>

</html>