@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

@font-face {
  font-family: 'Jal_Onuel';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Jal_Onuel.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --mateColor: #1F3C73;
  --white: #ffffff;
}

body {
  font-family: "NanumSquare", "Jal_Onuel", sans-serif !important;
  -webkit-font-smoothing: antialiased;
}



/* .toggle.btn {
  min-height: 30px !important;
}

.toggle.btn {
  right: calc(45px + 150px);
  position: absolute;
} */

.hide {
  display: none;
  visibility: hidden;
}

.background {
  height: calc(100vh);
  background-color: #F6F6F6;
  /* padding: 30px 8vw 30px 0; */
}

.sidebar-body-scrY{
  height: calc(100% - 65px);
  overflow-y: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#mapContainer {
  -webkit-box-shadow: 15px 10px 12px -5px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 15px 10px 12px -5px rgba(0, 0, 0, 0.38);
  box-shadow: 15px 10px 12px -5px rgba(0, 0, 0, 0.38);
  /* overflow: hidden; */
  top: 0;
  z-index: 20;
  position: absolute;
  background-color: gray;
  left: 0;
  right: 0;
  bottom: 0;
}

area {
  cursor: pointer;
}

h2 {
  text-align: center;
}

.ui-autocomplete {
  overflow-y: auto;
  max-height: 200px;
}

.my-btn {
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.my-btn:hover{
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.3));
}

.my-btn:active{
  filter: opacity(70%);
}

.my-btn2 {
  font-family: "NanumSquare";
  cursor: pointer;
}

.my-btn2:hover{
  filter: drop-shadow(0px 0px 1px rgba(255, 194, 0, 0.7));
}

.my-dropdown {
  font-family: "NanumSquare";
  border: 0.5px solid #ced4da;
  border-radius: 5px;
  padding: 2px 10px;
}

.my-dropdown::after{
  content: "▼";
  float: right;
  border:none;
  /* vertical-align: 2px; */
}

.my-dropdownBody {
  width: 100%;
  margin-top:0px;
}

#sidebar-header-title{
  display: flex;
  justify-content: center;
}

.sidebar-body-header{
  margin-bottom: 10px !important;
  height: 45px !important;
  justify-content: center;
}



.sidebar-tab::after{
  margin-top: 4px !important;
}

#sidebar h2.mytab-selected::after {
  border-bottom: 3px solid var(--mateColor) !important;
  width: 100%;
}

.dropdown-span {
  position:absolute !important;
  /* height:100%;  */
  /* width:40px;  */
  right:0px;
  background: none !important;
  border: none !important;
  margin: 0px !important;
  font-weight: inherit !important;
  color:black;
  z-index: 1000;
}

.dropdown-item {
  padding : 3px 1em 3px .4em;
  /* width: calc(100% - 40px) !important; */

}

.dropdown-item:hover, .dropdown-item:focus {
  background-color: #007bff;
}

.mapBody {
  position: relative;
  margin: 0px;
  background-color: #f5f5f5;
  height: 100%;
  /* margin-left: 8vw; */
}

/*sidebar*/
#sidebar {
  position: absolute;
  width: 250px;
  height: 100%;
  z-index: 99;
  background: white;
  color: black;
  top: 0px;
  -webkit-box-shadow: 9px 0px 8px -2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 9px 0px 8px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 9px 0px 8px -2px rgba(0, 0, 0, 0.1);
  margin-left: 0;
}

#sidebar.closed {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

#sidebarCollapse {
  position: relative;
  display: inline-block;
  z-index: 100;
  background-color: white;
  border-radius: 0px 5px 5px 0px;
  top: calc(50% - 33px);
  height: 66px;
  width: 16px;
  left: 250px;
  padding: 0;
  border: none;
  outline: none;
  -webkit-box-shadow: 3px 3px 3px 3px rgba(80, 49, 49, 0.1);
  -moz-box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
}

#phone-sidebar-toggler{
  display: none;
}

#sidebar-header {
  position: relative;
  background-color: white;
  height: 155px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

#searchBoxDiv {
  height: 33px;
  padding: 3px 5px;
  margin-top: 11px;
  display: flex;
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom: 2px solid #194a7b;
}

#searchButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 100%;
  width: 25px;
}


/* Toggling the sidebar header content, hide the big heading [h3] and showing the small heading [strong] and vice versa*/

.no-after::after {
  content: none !important;
}

.no-border{
  border: none;
}

#sidebar h2 {
  color: var(--mateColor);
  font-size: 0.9rem;
  text-align: center;
  font-weight: 900;
}

#sidebar h2::after {
  content: "";
  display: block;
  /* This will put the pseudo element on its own line. */
  margin: 0 auto;
  /* This will center the border. */
  margin-top: 20px;
  width: 40%;

  border-bottom: 0.3px solid grey;
}

.sidebar-tab:hover::after{
  border-bottom: 3px solid var(--mateColor) !important;
  width: 100%;
}

.my-line:after {
  content: "";
  display: block;
  /* This will put the pseudo element on its own line. */
  margin: 0 auto;
  /* This will center the border. */
  margin-top: 4px;
  width: 100%;

  border-bottom: 0.3px solid grey !important;
  margin-bottom: 10px;

}

#sidebar h3 {
  color: var(--mateColor);
  font-size: 23px;
  text-align: center;
  font-weight: 900;
}

#sidebar h5 {
  color: var(--mateColor);
  font-size: 0.7rem;
  text-align: left;
  font-weight: 900;
  margin-bottom: 0.9rem;
}

#sidebar p {
  font-size: 0.7rem;
}

.sidebar-body-frame {
  height: calc(100% - 185px);
  /* min-height: calc(100% - 285px); */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  overflow: auto;
}

.sidebar-body-frame::-webkit-scrollbar {
  display: none;
}

.sidebar-body {
  margin:0px;
  padding: 20px;
  padding-bottom: 0;
  padding-top: 0;
}

.sidebar-body::after {
  content: "";
  display: block;
  /* This will put the pseudo element on its own line. */
  margin: 0 auto;
  /* This will center the border. */
  margin-top: 10px;
  width: 100%;
  border-bottom: 2.5px solid #eeeeee !important;
}

#sidebar-searchResult-header::after{
  color: #000;
}

.sidebar-body > .row {
  margin: auto;
}

#sidebar-type-footer {
  height: 30px;
  border-top: 0.5px solid #ddd;
  background-color: #f5f5f5;
  text-align: center;
}

.sidebar-footer-link{
  font-size: 0.7rem;
  color: #a3a3a3;
}

/* spinner */
#sidebar-building-loading {
    width: 100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 시설 안내 */

.icon-div {
  padding: 0px 15px;
}

.icon-div img {
  width: inherit;
  /* background-color: var(--mateColor); */
}

/* 길찾기 */
.sidebar-main-direction-row {
  align-items: center;
  padding: 3px 0px;
}

.dir-searchbox-div {
  height: 20px;
  padding: 3px 5px;
  border-radius: 15px;
  margin: 5px 0px;
  /* width: 150px; */
  /* right: 30px; */
  /* position: absolute; */
}

#direction_search {
  float: right;
  background-color: white;
  border-color: var(--mateColor);
  font-size: 0.7rem;
}

/* 빌딩정보 */

/* #sidebar-building-tabButtonDiv{
  padding: 10px;
  position: absolute;
  width: 100%;
  background-color: #f5f5f5;
  height: 55px;
}

#sidebar-building-tabButtonGroup{
  width: 180px;
  height: 100%;
}

.sidebar-building-tabButtonClass{
  border: 1px solid;
  border-radius: 0px;
  font-size:0.75rem;
  box-shadow: none !important;
  
  align-items: center;
  justify-content: center;
  display: flex;

}

#sidebar-building-goBack {
  height: 100%;
  padding: 0px;
  border: 0px;
  float: right;
  margin-left:10px;
} */

#sidebar-building-tab {
  margin-bottom: 10px;
}

.sidebar-building-tabButton {
  cursor: pointer;
}

#sidebar-building-picture {
  max-width:100%;
  margin-bottom: 1rem;
}

.searchResultElWrap{
  display:flex;
  height: 50px;
  cursor: pointer;
  margin-bottom: 20px;
}

.searchResultBar{
  background-color: #cfcfcf;
  width: 6px;
  left: -8px;
  position: relative;
}

.searchResultEl{
  font-family: "NanumSquare";
  width: 200px;
}

.searchResultElHead{
  font-weight:bold;
  font-size:1em !important;
  margin-bottom:0.5em;
}

.searchResultElBody{
  font-size:0.6em !important;;
  color:gray;
}


#sidebar-buildingFacilities-dropdown{
  font-size: 0.7rem;
  margin-bottom: 20px;
}

#sidebar-buildingFacilities-dropdownBody{
  font-size: 0.7rem;
}

#sidebar-buildingFacilites-InfoBody h5{
  margin-top: 2rem;
  margin-bottom: 0.3rem;
}

#sidebar-buildingFacilites-InfoBody p{
  margin-bottom: 0.5rem;
}


/* 공통? */

#sidebar ul li a {
  text-align: left;
}

#sidebar.active ul li a {
  padding: 20px 10px;
  text-align: center;
  font-size: 0.85em;
}

#sidebar.active ul li a i {
  margin-right: 0;
  display: block;
  font-size: 1.8em;
  margin-bottom: 5px;
}

/* Same dropdown links padding*/
#sidebar.active ul ul a {

  padding: 10px !important;
}

/* Changing the arrow position to bottom center position, 
 translateX(50%) works with right: 50% 
 to accurately  center the arrow */
#sidebar.active .dropdown-toggle::after {
  top: auto;
  bottom: 10px;
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}

/*silder*/
.sliderBack {
  z-index: 22;
  width: 46px;
  right: 10px;
  position: absolute;
  background: white;
  padding: 3px;
  border-radius: 3px;
  border: 1px solid black;
  font-size: 0.75rem;
}

.sliderBack2 {
  z-index: 22;
  height: 42px;
  width: 88px;
  right: 66px;
  position: absolute;
  background: white;
  border-radius: 3px;
  border: 1px solid black;
  font-size: 0.75rem;
  display: flex;
}

.slider {
  border-radius: 3px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider2 {
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.slider.selected{
  background: var(--mateColor);
  color: white;
}

#toggleZooms{
  top: 10px;
  /* left: ; */
}

#toggleFloor{
  top: 100px;
}

#toggleBuildingFloor{
  top: 190px;
}

#toggleTime{
  top: 280px;
}

/* .sidebarBlock {
  width: 8vw;
  height: 100%;
  z-index: 100;
  background: #F6F6F6;
  position: fixed;
} */

#sidebar-toggler-mobile{
  display:none;
}

@media screen and (max-width: 768px) {

  /* .sidebarBlock {
    display: none;
  } */

  :root{
    font-size: 20px;
  }

  #sidebar-toggler-mobile{
    width: 100vw;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: 45px;
    bottom: 60px;
    display: grid;
    position: absolute;
    text-align: center;
    color: black;
    z-index: 300;
    background: #f5f5f5;
    border: 0.5px solid #EDEDED;
    align-items: center;
    justify-content: center;
  }

  /* #sidebar-type-building{
    overflow: unset !important;
  }

  #sidebar-searchResult{
    overflow: unset !important;
  } */

  #sidebar-header-title{
    font-size: 18px;
    
  }

  .searchResultEl{
    font-size: 16px;
    width: 100%;
  }
  
  #searchResultElHead{

  }

  .mapBody{
    margin-left:0;
  }

  /* 모바일에 사용될 스트일 시트를 여기에 작성합니다. */

  #sidebar {
    width:0px;
  }
  .background {
    padding: 0px 0px;
  }

  #mapContainer {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin-top: 100px;
    margin-bottom: 105px;
  }

  #searchBoxDiv {
    margin-top: 3px;
    height: 25px;
    /* border:none; */
  }

  #searchBoxDiv:after {
    content: "";
    background: black;
    position: absolute;
    bottom: 0;
    left: -10px;
    height: 0px;
    width: 100vw;
  }

  #sidebar-header {
    padding: 10px 10px 10px 10px;
    width: 100vw;
    height: 112px;
    margin-left: 0px;
    -webkit-box-shadow: 15px 10px 12px -5px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 15px 10px 12px -5px rgba(0, 0, 0, 0.38);
  box-shadow: 15px 10px 12px -5px rgba(0, 0, 0, 0.38);
  }
  
  .opened {
    margin-left: 1300px !important;
  }
  
  .icon-div {
    padding: 0px 20px;
  }

  .sidebar-body-frame{
    background : white;
    position: absolute;
    height: 0px;
    width:100vw;
    bottom: 50px;

  }

  #sidebar-type-footer{
    position: absolute;
    /* max-height: none; */
    width:100vw;
    bottom:30px;
  }


  #sidebarCollapse {
    display: none;
  }

  .sidebar-body {
    padding-top: 20px;
    
    /* width: 94%;
    left: 3%;
    height: 200px;
    position: absolute;
    background: #f7f7f7;
    border-radius: 10px;
    -webkit-box-shadow: 10px 5px 12px -5px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 10px 5px 12px -5px rgba(0, 0, 0, 0.38);
    box-shadow: 10px 5px 12px -5px rgba(0, 0, 0, 0.38); */
  }

  /* #mapSearch {
    width: calc(100% - 50px) !important;
    margin-left: 10px;
    z-index: 30;
  } */

  /*silder*/
  /* .sliderBack {
    height: 30px;
    width: 80px;
    border-radius: 20px;
    border: 0px;
    right: 30px;

    z-index: 22;
    position: absolute;
    background-color: #ABCADD;
    display: flex;
    cursor: pointer;
    -webkit-box-shadow: 3px 3px 13px 3px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 3px 3px 13px 3px rgba(0, 0, 0, 0.6);
    box-shadow: 3px 3px 13px 3px rgba(0, 0, 0, 0.6);
  } */

  #toggleZooms{
    top: 134px;
    /* left: ; */
  }
  
  #toggleFloor{
    top: 224px;
  }
  
  #toggleBuildingFloor{
    top: 314px;
  }
  
  #toggleTime{
    top: 404px;
  }

  /* .sliderBack div {
    z-index: 120;
    color: white;
    font-size: 13px;
    height: 100%;
    width: 50%;
    align-self: center;
    text-align: center;
    margin: 0;
    padding: 0;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: inset 0px -58px 61px -61px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0px -58px 61px -61px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px -58px 61px -61px rgba(0, 0, 0, 0.3);
  } */

  /* .sliderBack .left {
    border-radius: 30px 0px 0px 30px;
  }

  .sliderBack .right {
    border-radius: 0px 30px 30px 0px;
  } */

  /* .sliderBack .selected {
    background-color: var(--mateColor)ab;
    -webkit-box-shadow: inset 0px 200px 35px -195px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0px 200px 35px -195px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0px 200px 35px -195px rgba(0, 0, 0, 0.6);
  } */
}